### Before coding
Execute the following SQL code in your MySQL oy any other RDB.
```sql
CREATE SCHEMA IF NOT EXISTS `TESTDB` DEFAULT CHARACTER SET utf8mb4 ;

CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;
```

### Then we have the column
- ID, Name, DeptId, Age, Gender, Salary, recordDt

### Try to insert the following data

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Mike  | 002   | 45  |   M    | 60000  |
| 002 | Judy  | 002   | 30  |   F    | 48000  |
| 003 | Allen | 001   | 22  |   M    | 50000  |
| 004 | Tom   | 002   | 47  |   M    | 47000  |
| 005 | Jack  | 003   | 36  |   M    | 52000  |
| 006 | Abby  | 002   | 24  |   F    | 45000  |
| 007 | Trump | 001   | 80  |   M    | 80000  |
| 008 | Marry | 003   | 29  |   F    | 87000  |

In [1]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [2]:
# 試著將資料表中的資料取出
# 先寫好 SQL 語法
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

2

In [3]:
# 將查詢結果取出
data = cursor.fetchall()
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2020, 10, 13, 21, 39, 13)))

In [4]:
# 從資料庫將 datetime 形態的資料取出後，在 Python 中會變成 datetime 物件
# 將 datetime 物件轉為字串
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

'2020-10-13 21:39:13'

In [5]:
# 關閉連線
cursor.close()
conn.close()