```sql
CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;
```

In [1]:
# 建立連線
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:root@localhost:3306/TESTDB', echo=True)

In [2]:
# 宣告映射
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
# 描述 Table
from sqlalchemy import Column, Integer, String, Date
class Staff(Base):
    __tablename__ = 'Staff'
    
    ID = Column(String(10), primary_key=True)
    Name = Column(String(10), nullable=False)
    DeptId = Column(String(10), nullable=False)
    Age = Column(Integer, default=None)
    Gender = Column(String(3), default=None)
    Salary = Column(Integer, default=None)
    RecordDt = Column(Date, nullable=False)
    
    def __repr__(self):
        return "<User(name='%s', record='%s'>"%(self.Name, self.RecordDt)

In [4]:
# 建立 session
from sqlalchemy.orm import sessionmaker
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [5]:
# 查詢
for r in session.query(Staff):
    print(r.ID, r.Name, r.Salary, r.RecordDt)

2020-10-13 21:43:38,945 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-10-13 21:43:38,946 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,951 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-10-13 21:43:38,951 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,954 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-10-13 21:43:38,955 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,957 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-10-13 21:43:38,958 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,964 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-10-13 21:43:38,964 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,968 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-10-13 21:43:38,968 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,970 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-10-13 21:43:38,970 INFO sqlalchemy.engine.base.Engine {}
2020-10-13 21:43:38,972 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-13 21:43:38,973 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-10-13 21:43:38,974 INFO sqlalchemy.engine.base.Engine {}
001 Mike 60000 2020-04-29 21:04:52
002 Judy 48000 2020-10-13 21:41:49
003 Allen 50000 2020-10-13 21:41:49
004 Tom 47000 2020-10-13 21:41:49
005 Jack 52000 2020-10-13 21:41:49
006 Abby 45000 2020-10-13 21:41:49
007 Trump 80000 2020-10-13 21:41:49
008 Marry 87000 2020-10-13 21:41:49

In [6]:
# 查詢搭配條件
for r in session.query(Staff).filter(Staff.Salary < 50000):
    print(r.ID, r.Name, r.RecordDt)

2020-10-13 21:43:42,397 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
WHERE `Staff`.`Salary` < %(Salary_1)s
2020-10-13 21:43:42,398 INFO sqlalchemy.engine.base.Engine {'Salary_1': 50000}
002 Judy 2020-10-13 21:41:49
004 Tom 2020-10-13 21:41:49
006 Abby 2020-10-13 21:41:49

In [7]:
# 建立一筆資料的物件
Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')

In [8]:
# 將物件 INSERT 進 Table
session.add_all([Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')])

In [9]:
# 在查詢一下
for r in session.query(Staff):
    print(r.ID, r.Name, r.Salary, r.RecordDt)

2020-10-13 21:44:06,775 INFO sqlalchemy.engine.base.Engine INSERT INTO `Staff` (`ID`, `Name`, `DeptId`, `Age`, `Gender`, `Salary`, `RecordDt`) VALUES (%(ID)s, %(Name)s, %(DeptId)s, %(Age)s, %(Gender)s, %(Salary)s, %(RecordDt)s)
2020-10-13 21:44:06,776 INFO sqlalchemy.engine.base.Engine {'ID': '009', 'Name': 'Allen', 'DeptId': '001', 'Age': 25, 'Gender': 'M', 'Salary': 80000, 'RecordDt': '2020-05-01 21:04:52'}
2020-10-13 21:44:06,778 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-10-13 21:44:06,779 INFO sqlalchemy.engine.base.Engine {}
001 Mike 60000 2020-04-29 21:04:52
002 Judy 48000 2020-10-13 21:41:49
003 Allen 50000 2020-10-13 21:41:49
004 Tom 47000 2020-10-13 21:41:49
005 Jack 52000 2020-10-13 21:41:49
006 Abby 45000 2020-10-13 21:41:49
007 Trump 80000 2020-10-13 21:41:49
008 Marry 87000 2020-10-13 21:41:49
009 Allen 80000 2020-05-01 21:04:52

In [10]:
# Commit 並關閉 session
session.commit()
session.close()

2020-10-13 21:44:10,513 INFO sqlalchemy.engine.base.Engine COMMIT